.css_google_auth_img_label {text-align:center;}
.css_google_auth_img_line {text-align:center;}
.css_google_auth_img_obj {text-align:center;}
.css_code_label { }
.css_code_line {text-align:left;}
.css_code_obj {text-align:left;}
.css_phone_label { }
.css_phone_line { }
.css_phone_obj {text-align:right;}
.css_help_description_label { }
.css_help_description_line { }
.css_help_description_obj { }
